{% extends "base.html.twig" %}
{% block mainContent %}
<h1>Forgot Password?</h1>
<form action="{{ action }}" method="post">
	<table class="autoT">
		<tbody>
			<tr>
				<th>E-mail Address:</th>
				<td><input type="text" name="email" /></td>
			</tr>
		</tbody>
	</table>
	<div align="center">
		<input type="submit" value="Submit" />
	</div>
</form>
{% endblock %}