{% import "macros/genericForm.twig" as genericForm %}
{% block beforeForm %}{% endblock %}
{% block formTag %}
<form action="{{ action }}" method="post"{% block additionalFormAttributes %}{% endblock %}>
{% endblock %}
	{% block beforeTable %}{% endblock %}
	{% block formTable %}
	{% block tableTag %}
	<table class="{% block tableClass %}autoT{% endblock %}">
	{% endblock %}
		<tbody>
		{% block tbody %}{% endblock %}
		</tbody>
	</table>
	{% endblock formTable %}
	{% block afterTable %}{% endblock %}
	{% block submitButton %}
	<div align="center">
		<input type="submit" value="Submit" class="generic-submit" />
	</div>
	{% endblock %}
</form>{% block afterForm %}{% endblock %}