<form action="{{ action }}" method="post">
{% block tableTag %}
	<table class="{% block tableClass %}autoT{% endblock %}">
{% endblock %}
		<tbody>
		{% block tbody %}{% endblock %}
		</tbody>
	</table>
	{% block submitButton %}
	<div align="center">
		<input type="submit" value="Submit" />
	</div>
	{% endblock %}
</form>