<form action="{{ action }}" method="post">
	{% block beforeTable %}{% endblock %}
	{% block tableTag %}
	<table class="{% block tableClass %}autoT{% endblock %}">
	{% endblock %}
		<tbody>
		{% block tbody %}{% endblock %}
		</tbody>
	</table>
	{% block afterTable %}{% endblock %}
	{% block submitButton %}
	<div align="center">
		<input type="submit" value="Submit" />
	</div>
	{% endblock %}
</form>