{% extends "appBase.html.twig" %}
{% block mainContent %}
    <h1>{{ modifier == 'must' ? 'You Must ' : '' }}Update Your Password:</h1>
    <form action="" method="post">
        <table class="autoT">
            <tbody>
            <tr>
                <th>New Password</th>
                <td><input type="password" name="new_pass" class="not_blank" /></td>
            </tr>
            <tr>
                <th>Confirm New Password</th>
                <td><input type="password" name="confirm_new_pass" class="not_blank" /></td>
            </tr>
            </tbody>
        </table>
        <div class="ac">
            <input type="submit" value="Update" />
        </div>
    </form>
{% endblock %}