<h1>{% if model.newHref %}<a href="{{ model.newHref }}" class="fr new_model_link">new</a>{% endif %}Review {{ model.whatIAms }}</h1>
<ul>
{% for model in models %}
	<li>
		<a href="{{ model.href }}">{{ model.name }}</a>
		{% if permitDeleteModel %}
		{% include "deleteButton.html.twig" %}
		{% endif %}
	</li>
{% else %}
	<li><i>None Found</i></li>
{% endfor %}
</ul>