<li id="{{ model.baseName ~ '_' ~ model.id }}" class="model-li {{ model.baseName }}-li">
    <a href="{{ model.href }}">{{ model.name }}</a>
    {% if permitDeleteModel %}
    {% include "deleteButton.html.twig" %}
    {% endif %}
</li>
